body {
    font-family: 'Roboto Slab',
        serif;
}

h1 {
    font-size: 70px;

}

p {
    font-size: 20px;
    text-align: center;
    padding-bottom: 2%;
}

.full-width {
    color: white;
    text-align: center;
    width: 100%;
    margin: 0px;
    padding-top: 5%;
    padding-bottom: 10%;
}

.first-page {
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
    margin: 0px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, tomato);
    margin-bottom: 10px;
    padding: 15px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.donate-today {
    text-align: center;
    font-size: 30px;
}

.First-scetion-tk {
    width: 40%;
    margin-left: 20px;
}

.tk-amount-one {
    width: 50%;
    font-size: 30px;
    /* margin-left: 285px;*/
    padding: 18px;
    text-align: center;
    background-color: #f4ebeb;
    border-radius: 4px;
}

.tk-amount-two {
    color: tomato;
    font-size: 30px;
    width: 40%;
    margin-left: 30px;
    padding: 18px;
    text-align: center;
    background-color: #e4bfbf;
    border-radius: 4px;
    border: 3px solid tomato;
}

.tk-amount-three {
    width: 50%;
    font-size: 30px;
    margin-left: 30px;
    padding: 18px;
    text-align: center;
    background-color: #f4ebeb;
    border-radius: 4px;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
    margin-left: 350px;
}

.second-section-tk {
    width: 60%;
    margin-right: 20px;
}